.movie-details-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--text-color); /* Apply text color */
    background-color: var(--background-color); /* Apply background color */
    font-family: Arial, sans-serif;
    padding-bottom: 50px;
}

/* Movie details actions */
.movie-details-actions {
    margin-right: 10%;
    width: 35%;
    flex-direction: column;
    display: flex;
    gap: 15px;
}

/* Play buttons */
.movie-details-play-movie, 
.movie-details-play-trailer {
    color: var(--text-color); /* Apply button text color */
    font-size: 1.2rem;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.movie-details-play-movie{
    background-color: #ff000d;
}


.movie-details-play-trailer{
    background-color: rgb(164, 164, 164);
}

/* Movie details info */
.movie-details-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 80%;
    max-width: 1000px;
    margin-top: 20px;
    margin-left: 5%;
}

/* Movie image styling */
.movie-details-image {
    width: 50%;
    border-radius: 10px;
}

/* Movie description */
.movie-details {
    text-align: left;
    font-size: 1.3rem;
    max-width: 600px;
}

/* Movie details paragraph styling */
.movie-details p {
    margin: 5px 0;
    line-height: 1.5;
}

/* Category styling */
.movie-details-category {
    background-color: var(--admin-box); /* Apply admin box background */
    color: var(--text-color); /* Apply text color */
    padding: 5px 10px;
    border-radius: 3px;
    margin: 5px;
    display: inline-block;
    font-size: 0.9rem;
}

/* Media queries for responsiveness */
@media (max-width: 1000px) {
    .movie-details-container {
        font-size: 1rem;
    }

    .movie-details-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .movie-details {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .movie-details-container {
        font-size: 0.9rem;
    }

    .movie-details-info {
        width: 90%;
        margin-top: 15px;
    }

    .movie-details {
        font-size: 1rem;
    }

    .movie-details-play-movie .movie-details-play-trailer {
        font-size: 0.8rem;
        padding: 8px 16px;
    }
}
