.video-random-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 60px;
    background-color: black;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.video-random video {
    display: block;
    width: 100%;
    height: auto; 
    object-fit: cover; 
}

.video-random-details {
    position: absolute;
    width: 40%;
    top: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    white-space: normal;
    word-wrap: break-word;
}

.random-movie-title-overlay {
    position: absolute;
    /* width: 100%;  */
    /* max-width: 700px;  */
    bottom: 40%;    
    left: 10%;
    font-size: min(6vw, 3rem); 
    font-weight: bold;
    /* text-shadow: 6px 4px 15px rgba(0, 0, 0, 0.9); */
    color: white;
    z-index: 2;
    text-align: center;
    /* transform: translate(-50%, -100%);  */
    white-space: normal; 
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.random-movie-buttons {
    position: absolute;
    top: 65%;
    left: 20%;
    flex-direction: row;
    display: flex;
    gap: 20px;
    z-index: 2;
    flex-wrap: wrap;
}

.random-movie-buttons button {
    font-size: min(2vw, 1rem);
    padding: min(4px, 1.5vw) min(15px, 3vw);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.random-movie-buttons button:hover {
    background-color: #b20710;
}

.random-movie-buttons .watch-btn {
    background-color: #e50914;
    color: white;
}

.random-movie-buttons .info-btn {
    background-color: #7d7d7d;
    color: white;
}

@media (max-width: 768px) {
    .random-movie-title-overlay {
        font-size: min(8vw, 2rem);
        width: 90%;
        top: 50%;
    }

    .random-movie-buttons {
        top: 70%;
    }
}
