.Edit-Movie-body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: none;
    background-size: cover;
    background-color: #282828;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    z-index: 2;
}


.Edit-Movie-modal-content {
    background-color: rgb(28, 28, 28);
    padding: 30px;
    width: 80%;
    height: 80%;
    min-height: 400px;
    max-width: 900px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    position: fixed; /* Use fixed positioning */
    top: 70px; 
    left: 50%;
    transform: translateX(-50%);    
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
}
@media (max-height: 600px) {
    .Create-Movie-modal-content {
        overflow-y: scroll;
    }
}

.modal-movie-center{
    position: relative;
    display: flex;
    flex-direction: row; 
    gap: 20px;
}

.modal-movie-center > * {
    flex: 1;
}

.close-btn-new-movie {
    position: absolute;
    top: -5px;
    right: 10px;
    width: 40px !important;
    padding: 5px 10px; 
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

h2 {
    grid-column: span 2;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-size: 24px;
}

h3 {
    text-align: center;
}

.modal-movie-center h6 {
    font-size: calc(0.7rem + 0.5vh); 
    font-weight: normal;
    margin: 0;
}


.input-group {
    display: flex;
    flex-direction: column;
    color: white;
}


.input-group input, .input-group textarea {
    margin: 5px 0;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #555;
    background-color: #333;
    color: white;
    font-size: calc(0.7rem + 0.5vh);
}

.input-group textarea {
    resize: none;
    height: 100px;
}

.input-group h6 {
    margin: 0;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: normal;
}

.Create-Movie-btn {
    grid-column: span 2;
    display: flex;
    justify-content: center;
}

.Create-Movie-btn button {
    width: 40%;
    padding: 8px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: calc(0.8rem + 0.5vh);
    transition: background-color 0.3s ease;
}

.Create-Movie-btn button:hover {
    background-color: rgb(153, 0, 0);
}

.Create-Movie-btn button:focus {
    outline: none;
}

/* Error message styling */
.error-message {
    position: relative;
    text-align: left;
    font-size: 12px;
    color: #FF0000;
    margin: 0;
    margin-top: -8px;
    margin-bottom: 6px;
    display: none;
}

.category-display{
    color: white;
    padding: 15px;
}

.category-display::before {
    content: "• ";
    color: white;
}

.text-decoration-underline{
    justify-content: center;
    text-align: center;
    z-index: 5;
    color: white;
    cursor: pointer;
}

input[type="file"] {
    cursor: pointer;
}

/* #categories {
    color: black; /* מוודא שהטקסט יהיה בצבע שחור */
    /* background-color: #fff; /* רקע לבן ל-select */
    /* border: 1px solid #ccc; /* גבול רך */
    /* padding: 8px; ריפוד פנימי */
    /* border-radius: 6px; פינות מעוגלות */
    /* font-size: 1rem; גודל גופן */
/* } */

/* צבע טקסט שחור עבור האופציות בתוך ה-select */
/* #categories option {
    color: black; /* טקסט שחור */
    /* background-color: #fff; רקע לבן לאופציות */
/* } */

.category-list {
    display: flex;
    flex-direction: column;
    max-height: 100px;  /* גובה מקסימלי עבור הרשימה */
    overflow-y: auto;   /* מאפשר גלילה אנכית */
    overflow-x: hidden;
    /* padding-right: 10px; מרווח לפס הגלילה */
    border: 1px solid #ccc;  /* גבול סביב הרשימה */
    border-radius: 5px;  /* קצוות מעוגלות */
    /* background-color: #f9f9f9;  צבע רקע בהיר */
}

.category-item {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 8px 0;
    white-space: nowrap;
    cursor: pointer;
}

.category-item input {
    transform: scale(1.2); /* שינוי גודל ה-checkbox אם רצוי */
    order: 2;
    cursor: pointer;
}

.category-label {
    font-size: 16px;
    color: white;
    cursor: pointer;
    flex-grow: 1; 
    text-align: left;
    width: 100%; 
}

.category-item input:checked + .category-label {
    font-weight: normal;
}

.category-label {
    font-weight: normal !important;
}
