.movie-card {
  position: relative;
  width: 250px;
  height: 150px;
  margin-right: 10px;
  background-color: #282828;
  overflow: visible;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
  transform-origin: center;
  transition: transform 0.3s ease, z-index 0.3s ease;
  z-index: 2;
  border-radius: 0px !important;
}

.movie-card:hover {
  position: relative;
  z-index: 10; 
  transform: scale(1.35);
  box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.6), -10px 20px 15px rgba(0, 0, 0, 0.3);
  background-color: #282828;
  overflow: visible;
  border-radius: 8px !important;
  opacity: 1;
}

.movie-card:hover .movie-card-info {
  opacity: 1;
  background-color: #282828;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6), -10px 10px 15px rgba(0, 0, 0, 0.3); 
}

.movie-card:hover .movie-card-title {
  margin-top: 0px;  
  background-color: #282828;
}

.movie-card-image {
  inset: 0;

}

.movie-card-image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  overflow: hidden;
}

.movie-card-info {
  padding: 10px;
  color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #282828;
}

.movie-card-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #28282871;
  font-size: 18px;
  font-weight: bold;
  margin-top: -25px;
  text-align: center;
  color: white;
}

.movie-card-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

.movie-card-play-button {
  margin-top: 0px;
  width: 35%;
  padding: 5px 10px;
  background-color: #e50914;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 12px;
}

.movie-card-play-button:hover {
  background-color: #f40612;
}

.movie-card-movie_time {
  font-size: 12px;
  color: #aaa;
}

.movie-card-meta {
  font-size: 12px;
}

.movie-card-meta p {
  margin: 5px 0;
}

.movie-card-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.movie-card-category {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
}

.delete-movie-card-button, .edit-movie-card-button {
  position: absolute;
  top: -5px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.delete-movie-card-button {
  right: 35%; 
}

.edit-movie-card-button {
  left: 35%;
}

.delete-movie-card-button:hover, .edit-movie-card-button:hover {
  transform: scale(1.1);
}
