.movie-card {
  position: relative;
  width: 250px;
  height: 150px;
  margin-right: 10px;
  background-color: #282828;
  overflow: visible;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
  transform-origin: center;
  transition: transform 0.3s ease, z-index 0.3s ease;
  z-index: 2;
}

.movie-card:hover {
  position: relative;
  z-index: 10; 
  transform: scale(1.35);
  box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.6), -10px 20px 15px rgba(0, 0, 0, 0.3); /* שיפרתי את העפלה */
  background-color: #282828;
  overflow: visible;
  border-radius: 8px;
  opacity: 1;
}

.movie-card:hover .movie-info {
  opacity: 1;
  background-color: #282828;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6), -10px 10px 15px rgba(0, 0, 0, 0.3); /* גוון בהיר יותר עם עיבוי */
}

.movie-card:hover .movie-title {
  margin-top: 0px;  
  background-color: #282828;
  box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.5), -10px 20px 15px rgba(0, 0, 0, 0.2); /* צל יותר אחיד בצדדים */
}

.movie-image {
  width: 100%;
  height: 100%;
}

.movie-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-info {
  padding: 10px;
  color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.movie-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: -25px;
  text-align: center;
  color: white;
}

.movie-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

.play-button {
  margin-top: 0px;
  width: 35%;
  padding: 5px 10px;
  background-color: #e50914;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 12px;
}

.play-button:hover {
  background-color: #f40612;
}

.movie-duration {
  font-size: 12px;
  color: #aaa;
}

.movie-meta {
  font-size: 12px;
}

.movie-meta p {
  margin: 5px 0;
}

.movie-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.movie-category {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
}

.delete-movie-button, .edit-movie-button {
  position: absolute;
  top: -5px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  /* transition: background-color 0.3s, transform 0.3s; */
}

.delete-movie-button {
  right: 35%; 
}

.edit-movie-button {
  left: 35%;
}

.delete-movie-button:hover, .edit-movie-button:hover {
  transform: scale(1.1);
}
