.movie-row-container {
  position: relative; /* For arrow positioning */
  overflow-x: hidden;
  width: 100%;
  z-index: 1;
  /* background-color: black; */
}

.movie-row {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.movie-list {
  display: flex;
  gap: 20px; 
  scrollbar-width: none;
  padding: 10px 0;
}

.scroll-arrow {
  display: flex;
  width: 20px; /* Set a fixed width for the rectangular shape */
  height: 120px; /* Set a fixed height */
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px; /* Slightly rounded corners for a rectangular look */
  transform: translateY(-50%); /* Adjust to truly center */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition effects */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Add subtle shadow for depth */
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  z-index: 1; 
}


.scroll-arrow.left {
  left: 10px;
}

.scroll-arrow.right {
  left: calc(100vw - 80px);
}

.scroll-arrow:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.no-movies-text {
  color: white;
  text-align: center;
  font-size: 1.0rem;
  margin: 10px 0;
  margin-left: 30px;
}