.movie-row-container {
  position: relative; /* For arrow positioning */
  overflow : visible;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
}

.movie-row {
  display: flex;
  align-items: center;
  position: relative;
  width: 95%;
  margin: 0 auto;
  overflow: visible;
  transform-style: preserve-3d;
}


.movie-list {
  display: flex;
  gap: 20px; 
  scrollbar-width: none;
  padding: 10px 0;
  /* overflow-y: visible; */
  overflow-x: auto;
  scroll-behavior: smooth;
}

.arrow-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateY(-50%);
}

.scroll-arrow {
  display: flex;
  width: 20px; /* Set a fixed width for the rectangular shape */
  height: 120px; /* Set a fixed height */
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px; /* Slightly rounded corners for a rectangular look */
  transform: translateY(-50%); /* Adjust to truly center */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition effects */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Add subtle shadow for depth */
  align-items: center;
  justify-content: center;
  position: absolute;
  /* top: 50%; */
  z-index: 1; 
}


.scroll-arrow.left {
  left: 0;
}

.scroll-arrow.right {
  left: calc(100vw - 80px);
}

.scroll-arrow:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.no-movies-text {
  color: white;
  text-align: center;
  font-size: 1.0rem;
  margin: 10px 0;
  margin-left: 30px;
}

.movie-row-container:not(:hover) {
  z-index: 0;
}

.add-movie-button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 45px;
  margin-left: 0px;
  align-self: center;
}

.add-movie-button:hover {
  transform: scale(1.1);
}

.category-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
}

.category-title {
  font-size: 1.2rem;
  color: white;
  margin: 0;
}

.category-promotion{
  display: flex;
  justify-content: flex-start; 
  color: white;
  padding-right: 50%;
}

.category-actions {
  display: flex;
  gap: 10px;
}

.delete-category-button,
.edit-category-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.delete-category-button:hover,
.edit-category-button:hover {
  transform: scale(1.1);
}

