.Recommendations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 20px;
    padding: 20px;
    background-color: transparent; 
    flex-direction: column;
    overflow: visible;
}

.Recommendations-container h2{
    color: var(--text-color);
}
.recommended-movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 20px;
    padding: 20px;
    background-color: transparent; 
    flex-direction: row;
    overflow: visible;

}

.Recommendations-container p {
    font-size: 18px;
    color: var(--text-color);
    text-align: center;
    width: 100%;
}


