.home-body { 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    background-image: url('../icons/movies.jpg'); /* Background image */
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center; /* Focus on the center of the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    position: relative;
}

/* Dark overlay on top of the background image */
.home-body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: 1; /* Ensure it is below the content */
}
