.video-recommended-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 60px;
    background-color: black;
}

.video-recommended video {
    display: block;
    width: 100%;
    height: auto; 
    object-fit: cover; 
}
