.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease-out;
}

.small-view-modal-content {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-close-btn i {
    color: var(--text-color);
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-video, .modal-trailer {
    margin-bottom: 15px;
    max-width: 100%;
    max-height: 400px;
}

.modal-image img {
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
    border-radius: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.video-player {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}

.video-player::-webkit-media-controls {
    display: none;
}
